@import "./theme";

.header {
  background-color: #2c7a7b;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  @include flexCenter(row, center, center);
  .backButton {
    background-color: #2c7a7b;
    border-radius: 30px;
    padding: 8px;
    border: none;
    float: left;
    position: absolute;
    left: 20px;
    .backIcon {
      width: 20px;
      height: auto;
      filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(297deg)
        brightness(111%) contrast(114%);
    }
  }
  .label {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
  }
}
.container {
  @include flexCenter(column, none, center);
  margin-top: 60px;
  width: 100%;
}

.container_orderedit {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 110px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .container_orderedit {
    margin-top: 60px;
    grid-template-columns: auto;
    margin-bottom: 10px;
  }
}

// input[type="file"] {
//   display: none;
// }
.fileUpload {
  margin-top: 15px;
}
.customFileUpload {
  background-color: white;
  width: 90px !important;
  height: 90px;
  color: #e2e8f0;
  font-weight: 400;
  padding: 26px;
  font-size: 60px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  display: flex;
  align-self: flex-start;
  margin: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.product_image {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.product_image_reciept {
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
