@import "./theme";

.header {
  background-color: $primary-color;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  @include flexCenter(row, center, center);
  .backButton {
    background-color: $primary-color;
    border-radius: 30px;
    padding: 8px;
    border: none;
    float: left;
    position: absolute;
    left: 20px;
    .backIcon {
      width: 20px;
      height: auto;
      filter: invert(100%) sepia(0%) saturate(7440%) hue-rotate(297deg)
        brightness(111%) contrast(114%);
    }
  }
  .label {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
  }
}
.container {
  @include flexCenter(column, none, center);
  margin-top: 60px;
  width: 100%;
}
.container_orderedit {
  background-color: #f2f3f8;
  padding: 15px;
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

// input[type="file"] {
//   display: none;
// }
.fileUpload {
  margin-top: 15px;
}
.customFileUpload {
  background-color: white;
  width: 90px !important;
  height: 90px;
  color: #e2e8f0;
  font-weight: 400;
  padding: 26px;
  font-size: 60px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  display: flex;
  align-self: flex-start;
  margin: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.product_image {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
